.venv/
venv/
__pycache__/
*.log
*.tmp
*.bak

# Track only Python files inside user_data
user_data/**
!user_data/
!user_data/**/*.py


user_data_proxy/**
!user_data_proxy/
!user_data_proxy/**/*.py

# Track only Python files inside devop (root)
devop/**
!devop/
!devop/**/*.py

# Track only Python files inside core/devop
core/devop/**
!core/devop/
!core/devop/**/*.py